﻿@using Microsoft.AspNet.Identity
@model UserProfileFormModel
@{

}
<strong>
    Second Dependent Info
</strong>
<div id="edituser" class="span12">
    @using (Html.BeginForm("EditProfile", "Account"))
    {


        <table class="table">
            <tr>
                <td class="editor-label" style="width:150px;">
                    <label>
                        Dependent First Name:
                    </label>
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(m => m.DFirstName, new { @class = "span11" })
                    @Html.ValidationMessageFor(model => model.DFirstName)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    <label>
                        Dependent Last Name:
                    </label>
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(m => m.DLastName, new { @class = "span11" })
                    @Html.ValidationMessageFor(model => model.DLastName)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    <label>
                        In Relationship:
                    </label>
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(model => model.Rel2, new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "Grand Parent", Value = "Grand Parent"},
                                        new SelectListItem {Text = "Nephew/Niece", Value = "Nephew/Niece"},
                                        new SelectListItem {Text = "Parent", Value = "Parent"},
                                        new SelectListItem {Text = "Child", Value = "Child"},
                                        new SelectListItem {Text = "Relative", Value = "Relative"},
                                    }, "Select a Dependent Relationship", new { title = "Please choose a Dependent", @class = "input-xlarge" })
                </td>
            </tr>
            <tr>
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.FirstName)
                @Html.HiddenFor(m => m.LastName)
                @Html.HiddenFor(m => m.Email)
                @Html.HiddenFor(m => m.DateOfBirth)
                @Html.HiddenFor(m => m.Gender)
                @Html.HiddenFor(m => m.DepadenceFirstName)
                @Html.HiddenFor(m => m.DepadenceLastName)
                @Html.HiddenFor(m => m.Relationship)
            </tr>
        </table>

        <button class="btn btn-primary" type="submit" value="Save">
            Save
        </button>
        <button class="btn" type="reset" value="Cancel" onclick="window.location.href = '@Url.Action("UserProfile", "Account", new { id = User.Identity.GetUserId() })'">
            Cancel
        </button>
    }
</div>


