﻿@*@using dotless.Core.Parser.Tree*@
@model CMS02_Models.Models.SendToAll
@{
    ViewBag.Title = "Send E-Mail";
}


<head>
    <link href="/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Content/superfish.css" media="screen">
    <script src="/Scripts/jquery.js"></script>
    <script src="/Scripts/superfish.js"></script>
    <script type="text/javascript" src="/Scripts/move-top.js"></script>
    <script type="text/javascript" src="/Scripts/easing.js"></script>
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="col span_2_of_3">
        <div class="contact-form">
            <h3></h3>
            <div class="form-horizontal">
                <div>
                    <span><label>Subject</label></span>
                    <span>@Html.TextBoxFor(x => x.Subject)</span>
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })

                </div>
                <div>
                    <span><label>Message</label></span>
                    <span>@Html.TextAreaFor(x => x.Body)</span>
                    @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                </div>

                <div>
                    <span><input type="submit" value="Submit"></span>
                </div>
            </div>
        </div>
    </div>

}

