﻿@model ChurchUpdateFormModel
@{
    ViewBag.Title = "_EditUpdate";
}
<div id="editupdate">
    <table class="table">
        <thead>
            <h5>
                Enter Update</h5>
        </thead>
        <tr>
            <td>@Html.TextAreaFor(model => model.Updatemsg, new { @class = "span12", id = "GroupUpdatemsg" + Model.ChurchUpdateId })
            </td>
            <td id="noUpdate">
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-append">
                    @Html.TextBoxFor(model => model.Status, new { @id = "GroupStatus" + Model.ChurchUpdateId })
                    @if (Model.ChurchGoal.Metric != null && Model.ChurchGoal.Target != null)
                    { <span class="add-on">/@Model.ChurchGoal.Target @Model.ChurchGoal.Metric.Type</span>}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.AntiForgeryToken()
                <input type="button"  class="btn btn-primary pull-right" onfocus="clearGroupUpdateStatusError()" value="POST" id="postupdate" onclick="saveEditOfGroupUpdate('@Model.ChurchGoal.Target','@Model.ChurchGoal.MetricId','@Model.ChurchUpdateId');"  />
            </td>
            <td>
                <button class="btn" type="reset" value="Cancel" onclick="GroupCancel('@Model.ChurchGoalId')">
                    Cancel</button>
            </td>
        </tr>
        <tr><td colspan="3"><div id="statusErrorEdit"></div></td></tr>
    </table>
</div>


<script>
    function clearGroupUpdateStatusError() {
        $("#statusErrorEdit").html(''); 
    }

</script>