﻿@model IEnumerable<ChurchsItemViewModel>
<div id="divGroup" style="height: 150px;">
    <div id="gr" style="background-color: transparent;">
        @if (Model.Count() == 0)
        {
           <div class ="alert alert-info">No churches to display</div>
        }
        @foreach (var item in Model.Take(10))
        {  
            <table class="table">
                <tr>
                    <td class="span1">
                        <i class="icon-th"></i>
                    </td>
                    <td class="span8">

                        @Html.ActionLink(item.ChurchName , "Index", "Church", new { id = item.ChurchId }, new { @title = item.ChurchName })
                        @{
            var not = Html.Action("GetNumberOfRequests", "Church", new { id = item.ChurchId });
            if (not.ToString() != "0")
            {
                                <sub><span class="badge badge-important">@not</span></sub>
            } 
                            }
                       
                    </td>
                    <td class="span3">
                        <a href="#" id ="groupEdit" onclick ="window.location.href = '@Url.Action("EditGroup", "Church", new { id = item.ChurchId })'">
                            <span rel="tooltip" title="Edit Church"><i class="icon-edit"></i></span></a><a href="#" id="groupDelete" onclick="window.location.href = '@Url.Action("DeleteGroup", "Church", new { id = item.ChurchId })'">
                            <span rel="tooltip" title="Delete Church"><i class="icon-trash"></i></span></a>
                    </td>
                </tr>
            </table>

        }
    </div>
</div>
@if (Model.Count() > 10)
{
    @Html.ActionLink("See All", "GroupList", "Church", new { filterBy = "My Churches" }, new { @style = "float:right;" })
}