﻿@using Microsoft.AspNet.Identity
@model ChurchUpdateListViewModel
@*<script src="../../Scripts/jquery-latest.js" type="text/javascript"></script>*@

<h5 style="margin-left:15px;">Latest Updates</h5>
@if (Model.ChurchUpdates.Count() == 0)
{
    <div class="alert alert-info"> No church updates</div>
}
<div class="span12 hero-unit" id="DisplayGroupUpdates" style="margin-left: 0px;padding: 15px;">
    @foreach (var item in Model.ChurchUpdates)
    {


        <div class="well span12" style="margin-left:1px;">
            <div class="span12" id="GroupUpdateStatus@(item.ChurchUpdateId)">
                <span style="margin-left:13px; font-size:14px;cursor:help;">@item.Updatemsg</span>

                @if (item.UserId == User.Identity.GetUserId())
                {
                    <div class="EditDeleteUpdate span3" style="float:right;">
                        <a style="float:right;" href="JavaScript:void(0);" id="deleteGroupupdate" onclick="DeleteGroupUpdate('@item.ChurchUpdateId')">
                            <span rel="tooltip" title="Delete Church Update"><i class="icon-trash"></i></span>
                        </a>
                        <a style="float:right;" href="JavaScript:void(0);" id="editGroupupdate" value="@item.Updatemsg" onclick="EditGroupUpdate('@item.ChurchUpdateId')">
                            <span rel="tooltip" title="Edit Church Update"><i class=" icon-edit"></i></span>
                        </a>

                    </div>
                }
                <div class="span12" style="font-size:11px;">On @item.UpdateDate.ToString("dd MMM yyyy - hh:mm tt")</div>
            </div>


            <div id="supportGroupUpdate@(item.ChurchUpdateId)" class="row-fluid span7" style="font-size:12px;">
                @if (item.IsSupported == false)
                {
                    <a href="JavaScript:void(0);" id="supportUpdate@(item.ChurchUpdateId)" onclick="SupportGroupUpdate('@item.ChurchUpdateId')" title="Support this update">Support</a> <text> | </text>
                }
                else
                {
                    <a href="JavaScript:void(0);" id="unSupportUpdate@(item.ChurchUpdateId)" onclick="UnSupportGroupUpdate('@item.ChurchUpdateId')" title="Un Support this update">Unsupport</a> <text> | </text>
                }
                @{
                var supportCount = Html.Action("NoOfSupports", new { id = item.ChurchUpdateId });
                var commentCount = Html.Action("NoOfComments", new { id = item.ChurchUpdateId });
                }

                @if (supportCount.ToHtmlString() != "0")
                {
                    <a data-toggle="modal" href="#groupUpdateSupporters" id="SupportGroupCount@(item.ChurchUpdateId)" onclick="SupportersOfGroupUpdate('@item.ChurchUpdateId')">@supportCount Supports<i class="icon-thumbs-up"></i></a>  <text> | </text>
                }
                else
                {
                    <a data-toggle="modal" href="#groupUpdateSupporters" id="SupportGroupCount@(item.ChurchUpdateId)" onclick="SupportersOfGroupUpdate('@item.ChurchUpdateId')">0 Supports</a>  <text> | </text>
                }
                @if (commentCount.ToHtmlString() != "0")
                {
                    <a href="JavaScript:void(0);" id="commentGroupToggle@(item.ChurchUpdateId)" onclick="CommentExpandInGroupUpdate('@item.ChurchUpdateId','@commentCount')" title="Comment this update"> @commentCount Comments<i class="icon-comment"></i> </a>
                }
                else
                {
                    <a href="JavaScript:void(0);" id="commentGroupToggle@(item.ChurchUpdateId)" @* onclick = "CommentExpandInGroupUpdate(@item.GroupUpdateId)"*@ title="Comment this update"> 0 Comments</a>
                }
            </div>


            <div id="divgroupcommentUpdate@(item.ChurchUpdateId)" class="span9 well" style="display:none">
            </div>
            <div class="span12">
                <div class="span8 input-append">
                    <input type="text" class="span8" id="GroupCommentText@(item.ChurchUpdateId)" onfocus="EnableGroupCommentBtn('@item.ChurchUpdateId')" onblur="DisableGroupCommentBtn('@item.ChurchUpdateId')" placeholder="Write your comments here.." onkeypress="checkKey(event,@item.ChurchUpdateId);" />
                    <button id="postComment@(item.ChurchUpdateId)" disabled="disabled" class="btn" style="margin-bottom:10px;" onclick="updateGroupComment(@item.ChurchUpdateId);">Post</button>
                </div>
            </div>


        </div>
        @Html.Hidden("GroupUpdateId" + item.ChurchUpdateId, item.ChurchUpdateId)

        <script type="text/javascript">
            function checkKey(e, id) {
                evt = e || window.event;
                if (evt.keyCode === 13) {
                    updateGroupComment(id);
                    e.preventDefault();
                }

            }

            function EnableGroupCommentBtn(id) {
                $("#postComment" + id).removeAttr("disabled");
            }


            function DisableGroupCommentBtn(id) {
                if ($("#GroupCommentText" + id).val() === "") {
                    $("#postComment" + id).attr("disabled", "disabled");
                }
            }
        </script>
    }
</div>

