﻿@using System.Web.Mvc.Html
@model AttendEventFormModel
@{
    ViewBag.Title = "CreateAttendEvent";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<h2>CreateAttendEvent</h2>

<br />
<div id="createAttendEvent" class="well span8">
    @using (Html.BeginForm("CreateAttendEvent", "Church"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ChurchGoalId)

        @Html.ValidationSummary(true)
        <table class="table ">
            <tr>
                <td class="span12">
                    @Html.TextBoxFor(model => model.FirstName, new { placeholder = "Enter your FirstName" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </td>
            </tr>
            <tr>
                <td class="">
                    @Html.TextBoxFor(model => model.LastName, new { placeholder = "Enter The LastName" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </td>
            </tr>
            <tr>
                <td class="">
                    @Html.TextBoxFor(model => model.Email, new { placeholder = "Enter E-mail" })
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td class="">
                    @Html.TextBoxFor(model => model.Phone, new { placeholder = "Enter The PhoneNumber," })
                    @Html.ValidationMessageFor(model => model.Phone)
                </td>
            </tr>
        </table>
        <p>
            <button class="btn btn-primary" type="submit" value="Create">
                Create
            </button>
            <button class="btn" type="reset" value="Cancel" onclick="window.location.href='@Url.Action("Index", "Church", new { id = Model.ChurchGoalId })'">
                Cancel
            </button>
        </p>


    }
</div>