﻿@model CMS02_Models.Models.ChurchGoal
@{
    ViewBag.Title = "Delete Event";
 
}
<div class ="alert alert-block alert-error fade in"> 
<strong>
    Delete</strong>
    <br/>

  Are you sure you want to delete this?
  <br />
  <br />
   <strong>  @Html.DisplayFor(model => model.GoalName)</strong>
    <table>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.GoalName)
            </td>
            <td class="display-field">
             &nbsp;&nbsp;
                @Html.DisplayFor(model => model.GoalName)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td class="display-field">
             &nbsp;&nbsp;
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.StartDate):
            </td>
            <td class="display-field">
             &nbsp;&nbsp;
                @Html.DisplayFor(model => model.StartDate)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.EndDate):
            </td>
            <td class="display-field">
             &nbsp;&nbsp;
                @Html.DisplayFor(model => model.EndDate)
                @Html.HiddenFor(m=>m.ChurchGoalId)
            </td>
        </tr>
    </table>
    <br />
 <div id="divDelete@(Model.ChurchGoalId)">
        </div> 
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>


        <button class="btn btn-danger" type="submit" value="Submit"> Delete</button>
        <button class="btn" value="Cancel" type="reset" onclick="window.location.href = '@Url.Action("GroupGoal", "Church", new {id = Model.ChurchGoalId})'">
            Cancel</button>

    </p>

}
 
</div>