﻿@{
    ViewBag.Title = "Header";

    var not = Html.Action("GetNumberOfRequests", "Church", new { id = Model.ChurchId });
}

    <div class="btn-group" style="float: right">
        <button class="btn btn-primary" value="Submit" onclick="window.location.href='@Url.Action("ShowAllRequests", new { id = Model.ChurchId })'"> 
            Requests
            @if (not.ToString() != "0")
            {
                <sub style='color: Red'><span class="badge badge-important">@not</span></sub>
            }        
        </button>
        <button class="btn btn-info  dropdown-toggle" data-toggle="dropdown" style="margin-left:5px;">
            Actions  
        </button>
        <ul class="dropdown-menu">
            <li class="">
                @Html.ActionLink("Create Event", "CreateGoal", new { id = Model.ChurchId }, null)
            </li>
             <li>
                @Html.ActionLink("Create Church Group", "CreateFocus", new { id = Model.ChurchId }, null)
            </li>
            <li class="">
                @Html.ActionLink("Invite People", "InviteUsers", new { id = Model.ChurchId }, null)
            </li>
           
            </ul>
        </div>
    