﻿@model ChurchMemberViewModel
@{
    ViewBag.Title = "Members";
}
<h3>
    @Html.ActionLink(@Model.Church.ChurchName, "Index", new { id = @Model.ChurchId })
</h3>
@Html.Partial("Header")
<br />
<br />
<div class="well span4" id="memberlist" style="height: 320px">
        <h4>
            MEMBERS</h4>
         @foreach (var item in Model.Users)
            {
                <div >
                <div style="position:relative">
                <div>
                    <a href="@Url.Action("UserProfile", "Account", new { id = item.Id }, null)" >
                        @Html.User().Avatar(item.ProfilePicUrl, new { @class = "span1" })
                    </a></div>
                    </div>
                  
                        <div>
                            @Html.ActionLink(@item.UserName, "UserProfile", "Account", new { id = item.Id }, null)
                        </div>
                    
                </div>
                  <br />
                <hr >
              
            }
    </div>
