﻿@model IEnumerable<CMS02_Models.Models.Church>
@{
    ViewBag.Title = "MyGroups";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
@if (Model.Count() == 0)
{
    <div class="alert alert-info">
        No results To Display
    </div>
}
@foreach (var item in Model)
{ 
    <div class="alert users span2">
        <h4>
            @Html.ActionLink(item.ChurchName, "Index", "Church", new { id = item.ChurchId },null)</h4>
        @Html.ActionLink(@Html.Action("NoOfUsers", new { id = @item.ChurchId }) + " Members", "JoinedUsers", new { id = @item.ChurchId }, null)
    </div>
}
