﻿@using CMS02_Models.Models
@using Microsoft.AspNet.Identity
@model PostUpdateFormModel
@{
    ViewBag.Title = "Post Update";
}

<div class="span6 well" style="margin-left: 0px;">
    @using (Html.BeginForm())
    {
        <table class="table">
            <thead>
            <tr>
                <th>
                    <h5>
                        Post Your Update
                    </h5>
                </th>
            </tr>
            </thead>
            <tr>
                <td>
                    @Html.TextAreaFor(model => model.UpdateMessage, new {@class = "span12", placeholder = "Add an update for Church"})
                    @Html.ValidationMessageFor(m => m.UpdateMessage)
                </td>
            </tr>
        </table>
        <p>
            <button class="btn btn-primary" type="submit" value="Create">
                Post
            </button>
            <button class="btn" type="reset" value="Cancel" onclick="window.location.href = '@Url.Action("Index", "Church")'">
                Cancel
            </button>
        </p>
    }
</div>