﻿@using Mvc.Mailer
@model AttendEventFormModel
<h2>" Your Registration Has been A Success"</h2>
Hello<br />
Your Registration Has been A Success. Enjoy Have Lovely Time.
<a href="@Url.Abs(Url.Action("Login", "Account", new { reg = ViewBag.token }))">Join Now</a>

