@using Mvc.Mailer
<h2>Join God's Prosperity</h2>
Hello<br />

I invite you to join God's Prosperity and enjoy your time!
<a href="@Url.Abs(Url.Action("Login", "Account", new { reg = ViewBag.token }))">Join Now</a>