@using Mvc.Mailer
<h4>Reset Password</h4>
<p>Reset your God's Prosperity password by clicking the following link.</p>
<a href="@Url.Abs(Url.Action("ResetPassword", "Account", new { guid = ViewBag.token }))">Reset Now</a>