@using Mvc.Mailer
@{
    ViewBag.Title = "SupportGoal";
}
<h2>Join God's Prosperity and Support My Event.</h2>
Hello<br />

I invite you to join God's Prosperity and enjoy your time!
<a href="@Url.Abs(Url.Action("Login", "Account", new { guid = ViewBag.goal }))">Join Now</a>


